header{
	height:60px;
	
}	
	
nav{
  height: 50px;
  flex: 100%;
  display: flex;

	}	
nav ul,nav li{
	
	  float:left;
	list-style-type:none;
}
nav li{
	
	width:100px;
}
	
nav li a:hover{
	
	background-color:gray;
}
	h1{
		font-size:3em;

		color:#00539F;
		text-align:center;
		text-shadow:3px 3px 1px white;
	}
	
	html{

		font-size:16px;
		padding:0px;
		margin:0px auto;	
		background-color:#00539F;
	}
	a{
		font-size:16px;
	}
	/*
	.daywork h2 ,.daywork h5{
		position:fixed;
		top:20px;
		left:40%;
		display:block;
		text-align:center;		
	}	*/
	body{
		width:840px;		
		margin:0 auto;	
		background-color:#ff9500;		
		border:5px solid black;

	}

	.daywork{
		margin:0px auto;
		/*background:gray;*/
		border:5px solid white;

	}
	
	
	.daywork h2{
		color:#00539F;
		text-align:center;
	}
	
	.daywork li{
		
		padding:5px;
	}
	
	img{
		max-width:800px;
		max-height:1800px;

		border:3px solid white;	;
		
	}
	
	.pic ul{
		list-style-type:none;	
		display:inline;

	}
	
	.pic li{
		padding-left:20px;

	}
	

	a{		
		text-decoration:none;
	}	
	
	a:hover{
		text-shadow:1px 1px 1px black;
		color:red;
	}
	
	.footer{
		height:50px;
		text-align:right;
		clear:both;
	}
	
	
	
.jalendar {
    position: relative;
    width: 300px;
    margin: 30px auto;
}
.jalendar .left {
    float: left;
}
.jalendar .clear {
    clear: both;
}
.jalendar.mid {
    width: 420px;
}
.jalendar .added-event {
    display: none;
}
.jalendar-wood {
    position: relative;
    background: url('../images/jalendar-wood-bg.png') left top;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.7), inset 0 -2px 10px rgba(255,255,255,0.3);
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-top: 1px solid #e1bf89;
    border-right: 1px solid #b4925d;
    border-left: 1px solid #b4925d;
    display: inline-block;
    z-index: 2;
}	
	